@model IEnumerable<MomentozWebClient.Models.Flight>

@{
    ViewData["Title"] = "Billetter";
}

<h1>Biletter</h1>


<table class="table">
    <!-- ... linje 11-21 er påbegyndt udvikling af ordre funktionalitet hvor brugeren som bestiller billet føres her til og skal have logget ind først... -->
    <tbody>
        
        @foreach (var item in Model)
        {
            <tr>
                <!-- ... dine andre table data cells ... -->
                <td>
                    @Html.ActionLink("Vælg", "CreateOrder", "Order", new { flightId = item.Id }, null)
                </td>
            </tr>
        }
    </tbody>
    <thead>
        <tr>
            
            <th>
                Afgangs adresse
            </th>
            <th>
                By
            </th>
            <th>
                Pris
            </th>
            <th>
                Destination
            </th>
            <th>
                Land
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
           
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                <td>
                    @Html.DisplayNameFor(model => model.DestinationAddress)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationCountry)
            </td>
            <td>
               @Html.ActionLink("Vælg", "Læs mere", new { /* id=item.PrimaryKey */ }) 
               
            </td>
        </tr>
}
    </tbody>
</table>




</table>
