@model MomentozWebClient.Models.Order

@{
    ViewData["Title"] = "CreateOrderReceipt";
}
@if (Model != null)
{
    <h1>Ordren gennemført</h1>

    <div>
        <h4>Order</h4>
        <hr />
        <dl class="row">
            @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd> *@
            <dt class = "col-sm-2">
                Total Price
                @* @Html.DisplayNameFor(model => model.TotalPrice)*@
            </dt>
            <dd class = "col-sm-10">
                <div style="background-color:#000;color:#fff;margin-bottom:5px; padding:5px; width:160px; text-align:center;">
                    @Html.DisplayFor(model => model.TotalPrice)
                </div>
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.PurchaseDate)
            </dt>
            <dd class = "col-sm-10">
                <div style="background-color:#000;color:#fff;margin-bottom:5px; padding:5px; width:160px; text-align:center;">
                    @Html.DisplayFor(model => model.PurchaseDate)
                </div>
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CustomerID)
            </dt>
            <dd class = "col-sm-10">
                <div style="background-color:#000;color:#fff;margin-bottom:5px; padding:5px; width:160px; text-align:center;">
                    @Html.DisplayFor(model => model.CustomerID)
                </div>
            </dd>
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.FlightID)
            </dt>
            <dd class = "col-sm-10">
                <div style="background-color:#000;color:#fff;margin-bottom:5px; padding:5px; width:160px; text-align:center;">
                    @Html.DisplayFor(model => model.FlightID)
                </div>
            </dd>
        </dl>
    </div>
} else {
    <h1>Din ordre kunne ikke blive skabt</h1>
    <h4>En anden har placeret ordreren på rejsen før dig.</h4>
    <p>Du er velkommen til og bestille en anden rejse :)</p>
}
