@model IEnumerable<MomentozWebClient.Models.Flight>

@{
    ViewData["Title"] = "Flights";
}

<h1>Rejser</h1>
@if (Model == null)
{
    <h4> Der er i øjeblikket ingen rejser.</h4>
} else
{
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DestinationCountry)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DestinationCountry)
            </td>
            <td>
                @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                @*<a asp-action="Select" asp-route-id="@item.Id">Vælg</a>*@
                <a asp-controller="Order" asp-action="createOrder" asp-route-id="@item">Vælg</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
}
